.user-profile{
    height:70%;
    width:30%;
}
.user-image{
    width: 100%;
}
.user-image img{
    width: 100%;
    border-radius: 5%;
}
.user-name{
    font-size: 1.5em;
    color:#24292e;
    font-weight: 600;
    margin-top: 0.5em;
}
.user-handle{
    color:#586069;
    font-size: 1.1em;
    font-weight: 300;
}
.user-follow{
    width: 100%;
    padding:0.5em;
    border-radius: 4%;
    font-weight: 500;
    background-image:linear-gradient(-180deg,#fafbfc,#eff3f6 90%); 
    background-color: #eff3f6;
    margin:1.25em 0;
    border:1px solid #586069;
}
.user-follow:hover{
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
}
.user-desc{
    margin-top : 1em;
}
.user-work-info{
    color: #24292e;
    margin-top: 0.75em;
}
.work-info-icon{
    margin-right: 0.76em;
    font-size: 0.8em;
    color: #586069;
}
@media (orientation: portrait) and (max-width : 1000px){
    .user-image{
        box-sizing: border-box;
        width: 30%;
        padding:1.2em;
        padding-top: 1.6em;
        height: 100%;
    }
    .user-profile-text{
        margin-left: 0.8em;
        width: 50%;
    }
    .user-follow{
        margin:1em 0;
        font-size: 1em;
        width: auto;
        padding:0.6em 2em;
    }
    .user-desc{
        margin-top: 0em;
    }
    .user-work-info{
        margin-top: 0.5em;
    }
  }